# Ignore node_modules in both backend and frontend
**/node_modules/
node_modules


# Ignore logs
*.log
npm-debug.log*

# Ignore environment variables
.env
.env
.env.local

# Ignore build files
/build/
/dist/

# Ignore system files
.DS_Store
Thumbs.db
